/* Extra */
html {
  line-height: 0;
}
body {
  background: #fff;
  color: #2c2c2c;
  font-size: 14px;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Roboto", sans-serif !important;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 700;
}
h5 {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 700;
}
p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 1.6;
}
a:hover {
  text-decoration: none;
}
.bg-white {
  background-color: #fff;
}
.bg-green {
  background-color: #00613c;
}
.bg-yellow {
  background-color: #ffe366;
}
.color-green {
  color: #00613c;
}
img {
  max-width: 100%;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.j-content-c {
  justify-content: center;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.top-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  font-size: 18px;
}
.top-arrow:hover {
  opacity: 0.5;
  color: #fff;
}
.top-arrow span {
  position: absolute;
  top: 81%;
  left: 54%;
  width: 18px;
  height: 18px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#locale-loading-container {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#locale-loading-container .loading-spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #00613c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loading-spinner-wrapper {
  height: 110px;
  width: 110px;
  position: relative;
}
.loading-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 90px;
  width: 90px;
} /* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo {
  max-width: 95px;
  z-index: 999;
}
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1001;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .nav-menu .try-now-btn {
  background: #cceddc;
  padding: 15px 35px;
  border-radius: 50px;
  color: #00a651;
}
.navbar .nav-menu .try-now-btn:hover {
  background: #00a651;
  color: #fff;
}
.navbar .nav-menu .already-reg-btn {
  background: #ededf5;
  padding: 15px 35px;
  border-radius: 50px;
  color: #524fa1;
}
.navbar .nav-menu .already-reg-btn:hover {
  background: #524fa1;
  color: #fff;
} /* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #000;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #000;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}
.header {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 2px 7px 1px #d4d4d459;
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
  align-items: center;
}
.mobile-bottom-nav {
  visibility: hidden;
  position: fixed;
  z-index: -5;
}
.btn-tooltip {
  display: none;
  text-align: center;
  min-width: 212px !important;
  position: absolute;
  top: 100%;
  right: -100%;
  background: #00a53d;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
}
.btn-tooltip::before {
  border-bottom: 10px solid #00a53d;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: -7px;
  left: 0;
  width: 20px;
  margin: auto;
}
.btn-tooltip.call {
  background: #4d9de4;
}
.btn-tooltip.call::before {
  border-bottom: 10px solid #4d9de4;
}
.nav__tooltip {
  position: relative;
  margin: 0 5px !important;
}
.nav__tooltip:hover .btn-tooltip {
  display: block;
}
.btn-tooltip p {
  font-size: 14px;
  color: #fff;
}
.btn-tooltip h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .navbar {
    height: 100vh;
    align-items: baseline;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
}
.nav-menu .menu-item a {
  color: #2c2c2c;
  display: block;
  margin: 0px 15px;
  text-decoration: none;
  font-size: 18px;
}
.nav-menu .menu-item a:hover {
  color: #00613c;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item {
    display: none;
  }
  .menu-active .menu-item {
    display: block;
    width: 90%;
  }
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
    line-height: 2.5;
  }
}
.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}
.nav__link:hover + .sub-nav {
  display: block;
}
.sub-nav:hover {
  display: block;
}

.fasal-banner .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #00613c;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: \\;
  border: 1px solid #00613c;
  border-radius: 50px;
  display: none;
}

.fasal-banner.vegetable .carousel-indicators li {
  display: block;
}

.fasal-banner .carousel-indicators {
  bottom: -50px;
}

.fasal-banner .carousel-indicators .active {
  opacity: 1;
  height: 10px;
  width: 10px;
  margin-top: -1px;
}

.fasal-video-section {
  position: relative;
  min-height: 716px;
}
.fasal-video-bg-wrap {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.fasal-video-bg-wrap:after {
  content: "";
  background: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fasal-video-bg {
  height: auto;
  left: 0;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}
.fasal-video-bg-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.fasal-video-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.fasal-video-content h1 {
  font-weight: 700;
  color: #fff;
}
.fasal-3,
.fasal-kranti {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.3s;
  z-index: 1002;
}
.fasal-3 {
  bottom: 140px;
}
.fasal-3:hover,
.fasal-kranti:hover {
  right: 40px;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  color: #fff;
  margin-bottom: 80px;
}
.section-title h1 {
  margin-bottom: 20px;
  font-weight: 700;
}
.fasal-content h5 {
  margin-bottom: 40px;
}
.testimonial-section::before {
  content: "";
  background: url(../images/grapbg.svg);
  position: absolute;
  top: 45%;
  right: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
}

section.testimonial-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.video-block {
  z-index: 1;
  width: 700px;
}
.farmer-carousel .video-block video {
  width: 100%;
  border-radius: 15px;
}
.farmer-carousel.owl-carousel .owl-dots.disabled,
.farmer-carousel.owl-carousel .owl-nav.disabled {
  display: block;
}
.farmer-carousel .owl-nav {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  width: 100%;
}
.farmer-carousel .owl-prev {
  font-size: 40px !important;
  margin: 0;
  color: #00613c !important;
  height: 56px;
  width: 56px;
  background: #ffffff !important;
  border-radius: 50%;
  position: absolute;
  left: 8%;
  border: 3px solid #00613c !important;
  background-image: url(../images/previcon.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.farmer-carousel .owl-next {
  font-size: 40px !important;
  margin: 0;
  color: #00613c !important;
  height: 56px;
  width: 56px;
  background: #ffffff !important;
  border-radius: 50%;
  position: absolute;
  right: 8%;
  border: 3px solid #00613c !important;
  background-image: url(../images/previcon.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
}
.farmer-carousel .owl-prev span,
.farmer-carousel .owl-next span {
  visibility: hidden;
}
.farmer-carousel.owl-carousel .owl-dots {
  text-align: center;
}
.farmer-carousel.owl-carousel button.owl-dot {
  background: #ffe366 !important;
  padding: 0 !important;
  font: inherit;
  height: 15px;
  width: 15px;
  margin: 30px 8px;
  border-radius: 50px;
}
.farmer-carousel.owl-carousel button.owl-dot.active {
  background: #00613c !important;
}
.play-button {
  position: absolute;
  z-index: 1;
  left: calc(50% - 30px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.play-button__circle {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 2px solid white;
}
.play-button__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 15px;
  border-color: transparent transparent transparent #ffffff;
  left: calc(50% - 6.25px);
  top: 50%;
  transform: translateY(-50%);
} /* .video-wrapper{*/ /* position: relative; */ /* cursor: pointer; */ /*}*/
.now-its-section .section-title h3 {
  color: #000;
  max-width: 550px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}
.now-its-section .section-title img {
  margin: 30px auto;
}
.now-its-section:before {
  content: "";
  background: url(../images/grapbg.svg);
  position: absolute;
  top: 20%;
  left: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  transform: rotate(182deg);
}
.now-its-section:after {
  content: "";
  background: url(../images/grapbg.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  z-index: -1;
}
.now-its-section .fasal-card {
  min-height: 365px;
  align-items: center;
  padding: 30px;
  transition: all 0.3s ease-out;
}
.now-its-section .fasal-card:hover {
  transform: translateY(-15px) scale(1.005) translateZ(0);
}
.fasal-btn {
  background: #fff;
  border: 2px solid #00613c;
  padding: 15px 80px;
  border-radius: 50px;
  font-size: 20px;
  color: #00613c;
  font-weight: 700;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.fasal-btn:hover {
  background: #00613c;
  border-radius: 20px;
  color: #fff;
}
.fasal-btn:hover a {
  color: #fff;
}
.fasal-btn a {
  color: #00613c;
  transition: 0.3s;
}
.fasal-card.bg-green {
  background-color: #00613c;
  color: #fff;
}
.fasal-card.bg-yellow {
  background-color: #ffe366;
}
.fasal-card.bg-green-yellow {
  background-color: #00613c;
  color: #fff;
}
.fasal-card.bg-yellow-green {
  background-color: #ffe366;
}
.what-is-fasal .fasal-content {
  color: #fff;
}
.what-is-fasal .fasal-content h5 {
  padding-left: 10px;
} /* Testimonial CSS Code Start */ /* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
} /* text-style */
.testimonial-style .testimonial-caption-style {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #354052;
  line-height: 30px;
  bottom: 40%;
  text-shadow: none;
  top: 10%;
}
.testimonial-style .testimonial-authors {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  color: #354052;
  line-height: 30px;
  margin-top: 40px;
} /* carousel-height-control */
.testimonial-style .carousel-inner > .item {
  padding-top: auto;
  padding-bottom: auto;
  height: 380px;
} /* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control {
  color: #354052;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
} /* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
} /* Textimonial CSS Code End */
.why-fasal::before {
  content: "";
  background: url(../images/grapbg.svg);
  position: absolute;
  top: 0px;
  right: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
}
.why-fasal::after {
  content: "";
  background: url(../images/grapbg.svg);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  transform: rotate(182deg);
  z-index: -1;
}
.why-fasal .section-title {
  color: #00613c;
}
.fasal-card {
  padding: 30px 20px;
  border: 2px solid #e5efeb;
  border-radius: 10px;
  min-height: 410px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.fasal-card:hover {
  box-shadow: 0px 0px 8px 0px #a4a4a445;
}
.fasal-card div {
  width: 100%;
}
.fasal-card div h4 {
  line-height: 1.3;
}
section.how-it-works {
  padding-bottom: 50px;
}
.how-it-works .section-title {
  margin-bottom: 10px;
}
.dm-width {
  width: 307px;
  margin: 0 auto;
}
.iphone-mockup {
  position: relative;
  z-index: 5;
}
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 203.477897%;
}
.device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../images/applephmockup.png);
  background-size: cover;
  background-position: center center;
}
.screen {
  overflow: hidden;
  position: absolute;
  top: 18.48%;
  bottom: 20.5%;
  left: 12.79%;
  right: 17.4%;
}
.slider {
  height: 100%;
}
.slider .owl-wrapper-outer {
  height: 100%;
}
.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-theme .owl-controls {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 5px;
  opacity: 1;
  width: 8px;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #ffe366;
  height: 9px;
  width: 9px;
} /* .how-it-works .owl-carousel .owl-item{*/ /* width: 234px!important; */ /*}*/
.products-section .section-title {
  color: #000;
}
table {
  width: 100%;
  border-top: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-collapse: collapse;
  margin-bottom: 1em;
}
th,
td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  font-weight: 600;
  font-size: 20px;
}
thead th {
  text-align: center;
}
tbody th,
tbody td {
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}
tbody td {
  font-weight: 700;
  width: 35%;
}
tbody th {
  background: #00613c;
  color: #fff;
  width: 30%;
}
thead th {
  color: #000;
}
tr {
  vertical-align: top;
}
.fasal3-mobile-product {
  margin-top: 100px;
}
.fasal3-mobile-product .content,
.fasalkranti-mobile-product .content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.fasal3-mobile-product .content p,
.fasalkranti-mobile-product .content p {
  font-size: 16px;
  color: #737373;
  font-weight: 400;
}
#more-fasal3-content,
#more-fasalkranti-content {
  display: none;
}
.fasalkranti-mobile-product {
  margin-top: 60px;
}
.what-is-fasal,
.meet-community-section,
.how-it-works {
  background-size: cover;
}
.meet-community-section .sub-title h4 {
  color: #fff;
  font-weight: 600;
}
.meet-community-section .img-block {
  border-radius: 15px;
  overflow: hidden;
}
.meet-community-section .owl-prev {
  font-size: 40px !important;
  margin: 0;
  color: #00613c !important;
  height: 56px;
  width: 56px;
  background: #ffffff00 !important;
  border-radius: 50%;
  position: absolute;
  left: 8%;
  border: 3px solid #fff !important;
  background-image: url(../images/prevwhiteicon.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.meet-community-section .owl-next {
  font-size: 40px !important;
  margin: 0;
  color: #00613c !important;
  height: 56px;
  width: 56px;
  background: #ffffff00 !important;
  border-radius: 50%;
  position: absolute;
  right: 8%;
  border: 3px solid #fff !important;
  background-image: url(../images/prevwhiteicon.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
}
button:focus {
  outline: none;
}
.meet-community-section .farmer-carousel.owl-carousel .owl-dots {
  display: none;
}
.meet-community-section .section-title h2 {
  font-size: 34px;
}
.lets-connect-section .section-title {
  color: #000;
}
label,
button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto", sans-serif !important;
}
.datainput {
  position: relative;
  margin: 5px 0 20px;
}
.datainput p {
  font-size: 12px;
  background: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0.5rem;
}
.contact-form textarea {
  min-height: 120px;
}
.datainput select {
  padding: 20px 0;
  color: #777;
  font-size: 15px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: #fff;
}
.datainput input,
.datainput textarea {
  font-size: 20px;
  padding: 15px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}
.datainput input:focus,
.datainput textarea:focus {
  outline: none;
}
.datainput label {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  top: 18px;
  transition: 0.2s ease all;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #000;
}
#notif-license span {
  font-size: 40px;
}
#notif-license {
  display: none;
  position: fixed;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.datainput input:focus ~ .bar:before,
.datainput input:focus ~ .bar:after,
.datainput textarea:focus ~ .bar:before,
.datainput textarea:focus ~ .bar:after {
  width: 50%;
}
.indigox {
  background: #3f51b5;
}
.orangex {
  background: #ff9800;
}
.pinkx {
  background: #e91e63;
}
.bluex {
  background: #2196f3;
}
.purplex {
  background: #9c27b0;
}
.redx {
  background: #f44336;
}
.greenx {
  background: #4caf50;
}
.highlight {
  position: absolute;
  height: 50%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.datainput input:focus ~ .highlight,
.datainput textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #000;
}
form.contact-form {
  border-radius: 0.5rem;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}
.contact-form a.send_form {
  color: #fff;
  background: #000;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 0.3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
}
#text-info span {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
  border-radius: 0.5rem;
}
#text-info span.yes {
  background: #c6ffc5;
  color: #0ea904;
}
#text-info span.no {
  background: #ffc5c5;
  color: #ce0404;
}
.video-desktop {
  display: block;
}
.video-mobile {
  display: none;
} /* ------------fasal-coffee start------------------- */
.fasal-coffee .testimonial-section::before,
.fasal-coffee .now-its-section:before,
.fasal-coffee .now-its-section:after,
.fasal-coffee .why-fasal::before,
.fasal-coffee .why-fasal::after {
  background: url(../images/coffee/coffeebg.svg);
  opacity: 0.8;
} /* ------------fasal-pomegranate start------------------- */
.fasal-pomegranate .testimonial-section::before,
.fasal-pomegranate .now-its-section:before,
.fasal-pomegranate .now-its-section:after,
.fasal-pomegranate .why-fasal::before,
.fasal-pomegranate .why-fasal::after {
  background: url(../images/pomegranate/pomebg.svg);
  opacity: 0.8;
} /* ------------fasal-apple start------------------- */
.fasal-apple .testimonial-section::before,
.fasal-apple .now-its-section:before,
.fasal-apple .now-its-section:after,
.fasal-apple .why-fasal::before,
.fasal-apple .why-fasal::after {
  background: url(../images/apple/applebg.svg);
  opacity: 0.8;
} /* ------------fasal-chili start------------------- */
.fasal-chili .testimonial-section::before,
.fasal-chili .now-its-section:before,
.fasal-chili .now-its-section:after,
.fasal-chili .why-fasal::before,
.fasal-chili .why-fasal::after {
  background: url(../images/chili/chilibg.svg);
  opacity: 0.8;
}
/* ------------fasal-vegetables start------------------- */
.fasal-vegetables .now-its-section:before {
  background: url(../images/vegetables/bittergourdbg.svg);
  opacity: 0.3;
  transform: revert;
  background-size: contain !important;
}
.fasal-vegetables .now-its-section:after {
  background: url(../images/vegetables/tomatobg.svg);
  opacity: 0.3;
}
.fasal-vegetables .why-fasal::before {
  background: url(../images/vegetables/ivygourdbg.svg);
  opacity: 0.3;
}
.fasal-vegetables .why-fasal::after {
  background: url(../images/vegetables/capsicumbg.svg);
  opacity: 0.3;
  transform: revert;
}

.fasal-vegetables .lets-connect-section::before {
  content: "";
  background: url(../images/vegetables/chilibg.svg);
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  opacity: 0.7;
  z-index: 0;
}

/* ------------fasal-banana start------------------- */

.fasal-banana .lets-connect-section::before,
.fasal-banana .why-fasal::before {
  content: "";
  background: url(../images/banana/bananabg.svg);
  position: absolute;
  right: 0;
  top: 50px;
  width: 238px;
  height: 372px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  opacity: 0.7;
  z-index: 0;
}

.fasal-banana .now-its-section:before {
  content: "";
  background: url(../images/banana/bananaleftbg.svg);
  position: absolute;
  top: 20%;
  left: 0;
  width: 238px;
  height: 372px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  transform: none;
}

.fasal-banana .now-its-section:after {
  content: "";
  background: url(../images/banana/bananabg.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 238px;
  height: 372px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  z-index: -1;
}

.fasal-banana .why-fasal::after {
  content: "";
  background: url(../images/banana/bananaleftbg.svg);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 383px;
  height: 500px;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  background-size: cover !important;
  z-index: -1;
  transform: none;
}

.fasal-chili .now-its-section:before,
.fasal-chili .why-fasal::after {
  transform: scaleX(-1);
}
footer {
  background-color: #00613c;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer .logo {
  max-width: 120px;
  z-index: 999;
  margin: auto;
}
footer .nav-menu {
  justify-content: center;
  margin: 60px 0 40px;
}
footer .nav-menu .menu-item a {
  color: #fff;
}
footer .nav-menu .menu-item a:hover {
  color: #fff;
  opacity: 0.7;
}
footer .contact-details p,
footer .copyright p {
  color: #fff;
}
footer .copyright p {
  font-size: 16px;
}
footer .app-store {
  margin: 50px;
}
footer .app-store a {
  margin: 0 10px;
}
footer hr {
  border-top: 1px solid #fff;
}
footer .copyright {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .copyright .social-icon img {
  margin: auto 5px;
}
.whatsapp-modal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.whatsapp-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}
.whatsapp-modal .modal-body {
  margin-top: 40px;
}
.whatsapp-modal .modal-content {
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal.fade .modal-dialog {
  transform: translate3d(0, 0, 0);
}
.fade.show {
  background: #000000bd !important;
}
.modal-content {
  border: 0 !important;
  border-radius: 0px !important;
}
.modal-dialog {
  margin: 0 !important;
}
.modal-title {
  font-size: 20px;
  margin-top: 10px;
}
.close {
  font-size: 3.5em;
  color: #00613c;
  opacity: 1;
}
#productsModalPopup .modal-header .close {
  position: absolute;
  right: 15px;
}
#productsModalPopup .modal-header {
  padding: 20px 10px;
}
#productsModalPopup .modal-body {
  padding: 5px;
}
#productsModalPopup .modal-body tbody td {
  padding: 0.5em;
}
#productsModalPopup .modal-body tbody td p {
  font-size: 14px;
}
#productsModalPopup .modal-body tbody th {
  color: #00613c;
  font-weight: 700;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-transform: uppercase;
}
.modal-body tbody th {
  background: #fff;
  text-align: center;
  color: #555555;
  font-size: 17px;
}
.modal-body tbody td {
  font-size: 17px;
  width: 50%;
  font-weight: 700;
  text-align: center;
}
.fasal3-mobile-product,
.fasalkranti-mobile-product {
  display: none;
}

@media (orientation: landscape) {
  .desktop-banner {
    visibility: visible;
    display: block;
  }

  .mobile-banner {
    visibility: hidden;
    display: none !important;
  }
}

@media (orientation: portrait) {
  .desktop-banner {
    visibility: hidden;
    display: none !important;
  }

  .mobile-banner {
    visibility: visible;
    display: block;
  }
}

@media (min-width: 1441px) {
  .navbar.container {
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .container {
    max-width: 1470px !important;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1160px;
  }
}
@media (max-width: 1366px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 26px;
  }
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .fasal-video-section {
    min-height: 500px;
  }
  .fasal-video-bg-wrap {
    top: 2px;
  }
  .fasal-video-bg {
    background: #000;
    height: 600px;
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 19px;
  }
  .now-its-section .fasal-card {
    min-height: 330px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h5 {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  /* .farmer-carousel .video-block video{height:300px;}*/
  .fasal-vegetables .lets-connect-section::before {
    opacity: 0;
  }

  .play-button img {
    width: 60px;
  }
  footer .nav-menu {
    background: none;
    opacity: 1;
    position: relative;
    flex-direction: unset;
    flex-wrap: wrap;
    transform: none;
    margin-left: 20px;
  }
  footer .nav-menu .menu-item {
    display: block;
    width: 50%;
    text-align: center;
  }
  footer .nav-menu .menu-item:last-child {
    width: 100%;
  }
  footer .nav-menu .menu-item a {
    margin: 4px;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 21px;
  }
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  .d-none {
    display: none !important;
  }
  .top-arrow {
    display: none;
  }
  .logo {
    max-width: 80px;
  }
  .s-flex-wrap {
    flex-wrap: wrap;
  }
  .s-j-content-c {
    justify-content: center;
  }
  .s-m-r-15 {
    margin-right: 15px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fasal-video-section {
    min-height: 600px;
  }
  .fasal-video-content h1 {
    margin: auto 20px;
    line-height: 1.4;
  } /* .farmer-carousel .video-block video{height:250px;}*/ /* .farmer-carousel .video-block video{height:300px;}*/
  .play-button img {
    width: 45px;
  }
  .farmer-carousel .video-block {
    padding-left: 10px;
    padding-right: 10px;
  }
  section.testimonial-section {
    padding-top: 40px;
    padding-bottom: 0px;
  } /* .testimonial-section::before, .why-fasal::before{top:0;background-position: top right;background-size: 70%;}*/
  .testimonial-section::before,
  .why-fasal::before,
  .now-its-section:before,
  .why-fasal::after,
  .now-its-section:after {
    width: 40%;
  }
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .testimonial-section .farmer-carousel .owl-prev,
  .testimonial-section .farmer-carousel .owl-next {
    display: none;
  }
  .farmer-carousel.owl-carousel button.owl-dot {
    width: 12px;
    height: 12px;
  }
  .now-its-section .col-md-4 {
    width: 49%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .now-its-section .fasal-card {
    min-height: 240px;
    padding: 20px 10px;
    display: block;
  }
  .now-its-section .fasal-card div img {
    width: 80px;
    margin-bottom: 15px;
  }
  .now-its-section .fasal-card div h2 {
    font-size: 20px;
  }
  .now-its-section:before {
    z-index: -1;
    top: 10%;
    background-position: right;
    background-size: 80%;
  }
  .fasal-vegetables .lets-connect-section {
    padding-bottom: 50px;
  }

  .fasal-vegetables .now-its-section:before {
    top: 0;
  }
  .fasal-vegetables .why-fasal::before,
  .fasal-vegetables .why-fasal::after {
    width: 60%;
  }
  .fasal-btn {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .what-is-fasal .fasal-content {
    text-align: center;
  }
  .what-is-fasal .fasal-content h4 {
    margin: 15px auto;
  }
  .what-is-fasal .fasal-content h5 {
    text-align: center;
    padding-right: 10px;
  }
  .what-is-fasal .section-title h4 {
    font-size: 22px;
  }
  .why-fasal .fasal-card {
    border: 2px solid #00613c;
    min-height: 370px;
  }
  .why-fasal .fasal-card div {
    margin: 10px auto;
  }
  .why-fasal .fasal-card div p {
    font-size: 19px;
  }
  .meet-community-section .section-title h2 {
    font-size: 28px;
  }
  .meet-community-section .owl-prev {
    width: 40px;
    height: 40px;
    left: 10px;
  }
  .meet-community-section .owl-next {
    width: 40px;
    height: 40px;
    right: 10px;
  }
  .fasal-video-bg {
    height: auto;
    width: 100%;
  }
  .video-desktop {
    display: none;
  }
  .video-mobile {
    display: block;
  }
  footer .nav-menu .menu-item {
    display: block;
    width: 50%;
    text-align: left;
  }
  footer .app-store a img {
    margin-bottom: 20px;
  }
  footer .contact-details p {
    width: 70%;
    margin: auto;
  }
  footer .copyright {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  footer .copyright .social-icon {
    margin-bottom: 20px;
  }
  .fasal-3,
  .fasal-kranti,
  .products-table,
  .nav__link.nav__tooltip {
    display: none !important;
  }
  .mobile-bottom-nav {
    visibility: visible;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1020;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .fasal3-mobile-product,
  .fasalkranti-mobile-product {
    display: block;
  } /* .fasal-card.bg-green-yellow{background-color:#ffe366;color:#00613c}*/ /* .fasal-card.bg-yellow-green{background-color:#00613c;color:#fff;}*/
  h4 {
    font-size: 22px;
  }

  .fasal-banana .lets-connect-section::before {
    opacity: 0;
  }
  .fasal-banana .why-fasal::after {
    width: 180px;
    height: 250px;
  }

  .fasal-banana .now-its-section:before {
    top: 14%;
    width: 200px;
    height: 300px;
  }

  .fasal-banana .why-fasal::before {
    top: 0;
  }
}
@media (max-width: 412px) {
  h1 {
    font-size: 30px;
  }
  h2,
  .meet-community-section .section-title h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  .farmer-carousel.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
  }
  section.now-its-section {
    padding-top: 50px;
  }
  .now-its-section .fasal-card div h2 {
    font-size: 18px;
  }
  .now-its-section .col-md-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .what-is-fasal .section-title h4 {
    font-size: 20px;
  }
  .why-fasal .fasal-card div p {
    font-size: 18px;
  }
  section.how-it-works {
    padding-bottom: 50px;
  }
  footer .contact-details p {
    width: 90%;
  }
}
@media (max-width: 380px) {
  .testimonial-section::before,
  .why-fasal::before,
  .now-its-section::before,
  .testimonial-section::after,
  .why-fasal::after,
  .now-its-section::after {
    width: 40%;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h2,
  .meet-community-section .section-title h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4,
  .what-is-fasal .section-title h4,
  .now-its-section .fasal-card div h2 {
    font-size: 17px;
  }
  h5 {
    font-size: 16px;
  }
  .nav-menu .menu-item a {
    font-size: 18px;
  }
  .fasal-video-section {
    min-height: 470px;
  }
  .now-its-section .fasal-card {
    padding: 20px 10px;
  }
  .fasal-btn {
    font-size: 17px;
  }
  .why-fasal .fasal-card {
    min-height: auto;
    padding: 10px;
  }
  .why-fasal .fasal-card div p {
    font-size: 15px;
  }
  .testimonial-section::before,
  .why-fasal::before,
  .now-its-section::before,
  .testimonial-section::after,
  .why-fasal::after,
  .now-its-section::after {
    width: 60%;
  }
}
