---
---

<div class="select-none w-full overflow-hidden pt-md-4">
  <div class="d-flex justify-content-center mt-2 mb-md-5 mb-2">
    <h5 class="text-black tag">Variety of fresh fruits</h5>
  </div>
  <div class="d-flex gap-5 marquee">
    <div class="h-fit d-flex align-items-center">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/banana.png"
          alt="banana mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Banana</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/guava.png"
          alt="guava mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Guava</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/orange.png"
          alt="orange mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Orange</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/pomegranate.png"
          alt="pomegranate mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Pomegranate</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/grapes.png"
          alt="grapes mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Grapes</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/kinnow.png"
          alt="kinnow mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Kinnow</h6>
    </div>
    <div class="h-fit d-flex align-items-center">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/banana.png"
          alt="banana mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Banana</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/guava.png"
          alt="guava mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Guava</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/orange.png"
          alt="orange mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Orange</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/pomegranate.png"
          alt="pomegranate mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Pomegranate</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/grapes.png"
          alt="grapes mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Grapes</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/kinnow.png"
          alt="kinnow mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Kinnow</h6>
    </div>
    <div class="h-fit d-flex align-items-center">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/banana.png"
          alt="banana mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Banana</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/guava.png"
          alt="guava mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Guava</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/orange.png"
          alt="orange mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Orange</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/pomegranate.png"
          alt="pomegranate mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Pomegranate</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/grapes.png"
          alt="grapes mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Grapes</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/kinnow.png"
          alt="kinnow mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Kinnow</h6>
    </div>
    <div class="h-fit d-flex align-items-center">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/banana.png"
          alt="banana mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Banana</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/guava.png"
          alt="guava mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Guava</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/orange.png"
          alt="orange mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Orange</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/pomegranate.png"
          alt="pomegranate mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Pomegranate</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/grapes.png"
          alt="grapes mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Grapes</h6>
    </div>
    <div class="h-fit d-flex align-items-center max-w-[140px] md:max-w-[240px]">
      <div class="slide">
        <img
          class="h-100"
          src="/assets/images/fasal-fresh/fruits-carousel/kinnow.png"
          alt="kinnow mockup"
        />
      </div>
      <h6 class="p-3 fw-500">Kinnow</h6>
    </div>
  </div>

  <style>
    .tag {
      border-radius: 51.18619rem;
      border: 1.638px solid rgba(24, 24, 24, 0.07);
      background: #fbfaf9;
      padding: 0.8rem 2.5rem;
    }
    .slide {
      height: 120px;
    }
    .marquee {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 100%;
      animation: scroll-x 50s linear infinite;
    }
    .marquee-reverse {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 100%;
      animation: scroll-x-reverse 50s linear infinite;
    }

    @keyframes scroll-x {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 2rem));
      }
    }
    @keyframes scroll-x-reverse {
      from {
        transform: translateX(calc(-100% - 2rem));
      }
      to {
        transform: translateX(0);
      }
    }

    @media (max-width: 786px) {
      .slide {
        height: 80px;
      }
      .tag {
        border: 1.638px solid rgba(24, 24, 24, 0.07);
        background: #fbfaf9;
        padding: 0.5rem 2rem;
      }
    }
  </style>
</div>
