---
---

<section
  id="contact-form"
  class="lets-connect-section relative blade-bottom-padding"
>
  <div class="container-sm">
    <div data-aos="fade-up" class="text-center">
      <h1 class="fw-bold">
        Any messages for us or our partner <br />
        <span class="text-green">farmers? We are listening.</span>
      </h1>
    </div>
    <form id="myForm" class="row p-md-5 p-2 gap-x-2 gap-y">
      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="fname">First Name:</label>
        <input class="input-style" type="text" id="fname" name="fname" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="lname">Last Name:</label>
        <input class="input-style" type="text" id="lname" name="lname" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="phone">Phone Number:</label>
        <input class="input-style" type="tel" id="phone" name="phone" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="area">Area:</label>
        <input class="input-style" type="text" id="area" name="area" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="society">Society:</label>
        <input class="input-style" type="text" id="society" name="society" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column col-md-6">
        <label for="pincode">Pincode:</label>
        <input
          class="input-style"
          type="text"
          id="pincode"
          name="pincode"
          pattern="[0-9]{6}"
        />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-1 mt-md-2 flex-column">
        <label for="message">Your Message:</label>
        <textarea rows="3" class="input-style" id="message" name="message"
        ></textarea>
        <span class="error-message"></span>
      </div>

      <div class="flex">
        <button class="fasal-fresh-btn-green mt-md-4 mt-3" type="submit">
          Send Email
        </button>
      </div>
    </form>
  </div>
</section>

<script>
  import emailjs from "@emailjs/browser";

  const form = (document.getElementById("myForm") as HTMLInputElement).value;
  const fname = (document.getElementById("fname") as HTMLInputElement).value;
  const lname = (document.getElementById("lname") as HTMLInputElement).value;
  const phone = (document.getElementById("phone") as HTMLInputElement).value;
  const area = (document.getElementById("area") as HTMLInputElement).value;
  const society = (document.getElementById("society") as HTMLInputElement)
    .value;
  const pincode = (document.getElementById("pincode") as HTMLInputElement)
    .value;
  const message = (document.getElementById("message") as HTMLInputElement)
    .value;

  let isValid = true;

  // submit event
  document
    .getElementById("myForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      if (validate()) {
        try {
          // console.log("Email sent successfully:");
        } catch (error) {
          console.error("Error sending email:", error);
        }
      }
    });
  function validate() {
    const errorMessages = document.querySelectorAll(".error-message");

    errorMessages.forEach((message) => {
      message.textContent = ""; // Clear previous error messages
    });

    // console.log(fname);
    if (fname.length <= 1) {
      document.getElementById("fname").nextElementSibling.textContent =
        "Name is required";
      isValid = false;
    }
    if (true) {
      // console.log("working");
    }

    if (area.trim() === "") {
      document.getElementById("area").nextElementSibling.textContent =
        "Area is required";
      isValid = false;
    }

    if (society.trim() === "") {
      document.getElementById("society").nextElementSibling.textContent =
        "Society is required";
      isValid = false;
    }

    if (!phone.match(/^\d+$/)) {
      document.getElementById("phone").nextElementSibling.textContent =
        "Invalid phone number";
      isValid = false;
    }

    if (!pincode.match(/^[0-9]{6}$/)) {
      document.getElementById("pincode").nextElementSibling.textContent =
        "Invalid pincode (must be 6 digits)";
      isValid = false;
    }

    if (message.trim() === "") {
      document.getElementById("message").nextElementSibling.textContent =
        "Message is required";
      isValid = false;
    }

    if (isValid) {
      // console.log("Form is valid, send email using server-side script");
    } else {
      // console.log("Please fix the errors before submitting the form.");
    }

    return isValid;
  }

  function sendEmail() {
    emailjs
      .sendForm("hello@blacksof", "hello-template", form, "iugFe8w5Tiy14ygmI")
      .then(
        (result) => {
          // console.log("SUCCESS!", result);
          // if (result.status === 200) {
          //   failed.classList.remove("show");
          //   popup.classList.remove("hidden");
          //   popup.classList.add("block");
          //   setInterval(() => {
          //     popup.classList.add("hidden");
          //   }, 3000);
          //   success.classList.remove("hidden");
          //   success.classList.add("show");
          //   form.reset();
          // } else {
          //   success.classList.remove("show");
          //   popup.classList.remove("hidden");
          //   popup.classList.add("show");
          //   failed.classList.remove("hidden");
          //   failed.classList.add("show");
          // }
        },
        (error) => {
          // console.log("FAILED...", error.text);
        }
      );
  }
</script>

<style>
  label {
    font-size: 1rem;
  }
  .error-message {
    color: red;
    font-size: 14px;
  }
  .input-style:focus {
    outline: 1px solid gray;
  }
  .input-style {
    border: 1px solid rgba(128, 128, 128, 0.316);
    border-radius: 4px;
    padding: 6px 10px;
  }
  @media (max-width: 786px) {
    label {
      font-size: 0.8rem;
    }
    .input-style {
      padding: 3px 5px;
    }
  }
</style>
