---
---

<section class="relative border">
  <div class="container">
    <h1 class="text-green text-center">
      Our journey of impact so far <br /> with the Fasal System
    </h1>

    <main class="row justify-content-center gap-4 mt-5">
      <div
        class="col-md-3 p-4 rounded-3 border d-flex flex-column justify-content-between"
      >
        <div class="h-10">
          <img src="assets/images/fasal-fresh/icons.png" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="">82.8 B L</h2>
          <h5 class="fw-normal">of irrigation water saved</h5>
          <h5 class="text-green">Because every drop counts</h5>
        </div>
      </div>
      <div
        class="col-md-3 p-4 rounded-3 border d-flex flex-column justify-content-between"
      >
        <div class="h-10">
          <img src="assets/images/fasal-fresh/icons.png" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="">82.8 B L</h2>
          <h5 class="fw-normal">of irrigation water saved</h5>
          <h5 class="text-green">Because every drop counts</h5>
        </div>
      </div>
      <div
        class="col-md-3 p-4 rounded-3 border d-flex flex-column justify-content-between"
      >
        <div class="h-10">
          <img src="assets/images/fasal-fresh/icons.png" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="">82.8 B L</h2>
          <h5 class="fw-normal">of irrigation water saved</h5>
          <h5 class="text-green">Because every drop counts</h5>
        </div>
      </div>
      <div
        class="col-md-3 p-4 rounded-3 border d-flex flex-column justify-content-between"
      >
        <div class="h-10">
          <img src="assets/images/fasal-fresh/icons.png" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="">82.8 B L</h2>
          <h5 class="fw-normal">of irrigation water saved</h5>
          <h5 class="text-green">Because every drop counts</h5>
        </div>
      </div>
      <div
        class="col-md-3 p-4 rounded-3 border d-flex flex-column justify-content-between"
      >
        <div class="h-10">
          <img src="assets/images/fasal-fresh/icons.png" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="">82.8 B L</h2>
          <h5 class="fw-normal">of irrigation water saved</h5>
          <h5 class="text-green">Because every drop counts</h5>
        </div>
      </div>
    </main>
  </div>
</section>
