---
import "swiper/css";
import "swiper/css/pagination";
---

<section class="relative blade-top-padding">
  <div class="container">
    <h1 class="text-black text-center fw-bold">
      Our journey of impact so far with the
      <span class="text-green"> Fasal System</span>
    </h1>

    <main class="d-md-flex d-none row justify-content-center mt-md-5 px-3">
      <div class="col-xxl-4 col-xl-4 col-md-6 p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/01-irrigation.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">82.8 B L</h2>
            <h5 class="fw-700">of irrigation water saved.</h5>
            <h5 class="fw-light">Because every drop counts.</h5>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-md-6 p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/02-reduction.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">54,965 MT</h2>
            <h5 class="fw-700">reduction in greenhouse gas emissions.</h5>
            <h5 class="fw-light">
              Because a cleaner today ensures a safer tomorrow.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-md-6 p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/03-reduction.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">1.51 L kg</h2>
            <h5 class="fw-700">reduction in chemical usage and counting.</h5>
            <h5 class="fw-light">
              Because your food should never fail on nutrition.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-md-6 p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/04-pesticide.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">Upto 60%</h2>
            <h5 class="fw-700">deduction in pesticide cost.</h5>
            <h5 class="fw-light">Because fruits should be residue-lean.</h5>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-md-6 p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/05-yield.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">Up to 40%</h2>
            <h5 class="fw-700">increase in yield.</h5>
            <h5 class="fw-light">
              Because the farmer community and food security matter.
            </h5>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- mobile view -->
  <main
    class="d-md-none d-block swiper-wrapper-master overflow-hidden position-relative pb-4"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/01-irrigation.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">82.8 B L</h2>
            <h5 class="fw-700">of irrigation water saved.</h5>
            <h5 class="fw-light">Because every drop counts.</h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/02-reduction.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">54,965 MT</h2>
            <h5 class="fw-700">reduction in greenhouse gas emissions.</h5>
            <h5 class="fw-light">
              Because a cleaner today ensures a safer tomorrow.
            </h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/03-reduction.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">1.51 L kg</h2>
            <h5 class="fw-700">reduction in chemical usage and counting.</h5>
            <h5 class="fw-light">
              Because your food should never fail on nutrition.
            </h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/04-pesticide.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">Upto 60%</h2>
            <h5 class="fw-700">deduction in pesticide cost.</h5>
            <h5 class="fw-light">Because fruits should be residue-lean.</h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-md-3 p-3 cards">
        <div class="cards-content-wrp overflow-hidden rounded-4 h-100">
          <div class="card-bg">
            <img
              class="w-100 h-100 object-fit-cover"
              src="assets/images/fasal-fresh/ourImpact/05-yield.jpg"
              alt=""
            />
          </div>
          <div
            class="cards-content position-relative rounded-4 p-3 h-100 d-flex flex-column justify-content-end"
          >
            <h2 class="">Up to 40%</h2>
            <h5 class="fw-700">increase in yield.</h5>
            <h5 class="fw-light">
              Because the farmer community and food security matter.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </main>
</section>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";
  const carousel = new Swiper(".swiper-wrapper-master", {
    modules: [Pagination],
    slidesPerView: 1,
    spaceBetween: 20,
    breakpoints: {
      786: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      1020: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1280: {
        slidesPerView: 2.5,
        spaceBetween: 20,
      },
    },
    pagination: {
      el: ".swiper-pagination",
      type: "bullets",
      bulletActiveClass: "swiper-pagination-bullet-active",
    },
    autoplay: {
      delay: 1000,
    },
    speed: 1000,
  });
</script>

<style>
  .cards {
    position: relative;
    height: 450px;
  }
  .card-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .cards-content-wrp {
    position: relative;
    color: white;
    height: auto;
    overflow: hidden;
  }
  .cards-content {
    background: linear-gradient(to top, #000000ac, #ffffff2a);
    padding-bottom: 30px !important;
  }

  @media (max-width: 1280px) {
    .cards {
      height: 380px;
    }
  }
  @media (max-width: 786px) {
    .cards {
      height: 340px;
    }
  }
</style>
