<section class="whats-different-wrp">
  <div class="container">
    <h1 class="text-white">
      Not just fresh but Fasal Fresh
      <span class="text-yellow"> Here’s what’s different.</span>
    </h1>
  </div>
</section>

<style>
  .whats-different-wrp {
    background: #283b89;
  }
</style>
