<section class="blade-padding bg-cream">
  <div
    class="whatWeDo-wrp d-flex flex-lg-row flex-column gap-xxl-5 gap-xl-4 gap-3 justify-content-center container"
  >
    <div class="product-image w-lg-50 w-100">
      <img
        class="w-100 h-100"
        src="assets/images/fasal-fresh/features.png"
        alt=""
      />
    </div>

    <div class="w-lg-50 w-100 d-flex flex-column gap-md-3 gap-2 px-lg-4">
      <h1 class="fw-bold">
        It’s more than what meets the eye – <span class="text-green"
          >goodness you can live by.</span
        >
      </h1>
      <div class="feature-card p-xl-4 p-lg-3 p-3">
        <img
          class="w-lg-25 w-5 h-auto object-fit-contain"
          src="assets/images/fasal-fresh/whatWeDo/banana.png"
          alt=""
        />
        <div class="d-flex flex-column gap-md-2">
          <h4 class="fw-normal">Nutritious, fresh and high quality.</h4>

          <h4 class="fw-normal text-green fw-semibold">
            Grown using data-backed farming advisories.
          </h4>
        </div>
      </div>
      <div class="feature-card p-xl-4 p-lg-3 p-3">
        <img
          class="w-lg-25 w-5 h-auto object-fit-contain"
          src="assets/images/fasal-fresh/whatWeDo/farmers.png"
          alt=""
        />
        <div class="d-flex flex-column gap-md-2">
          <h4 class="fw-normal">Grown responsibly using the Fasal system.</h4>

          <h4 class="fw-normal text-green fw-semibold">
            Our homegrown IoT-powered precision farming technology.
          </h4>
        </div>
      </div>
      <div class="feature-card p-xl-4 p-lg-3 p-3">
        <img
          class="w-lg-25 w-5 h-auto object-fit-contain"
          src="assets/images/fasal-fresh/whatWeDo/precision.png"
          alt=""
        />
        <div class="d-flex flex-column gap-md-2">
          <h4 class="fw-normal">Ethically sourced from farmers.</h4>

          <h4 class="fw-normal text-green fw-semibold">
            Directly from farms with minimal handling.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .product-image {
    height: 700px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    object-position: center;
  }
  .product-image img {
    object-fit: cover !important;
  }
  .feature-card {
    border-radius: 1.29131rem;
    border: 1px solid #efcc4e;
    background: #fff;
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }

  .feature-card img {
    max-width: 140px;
  }
  @media (max-width: 992px) {
    .whatWeDo-wrp {
      max-width: 500px;
    }
    .feature-card {
      gap: 12px;
      border-radius: 10px;
    }
    .feature-card img {
      width: 80px;
    }
    .product-image {
      height: 340px;
    }
  }
</style>
