<section class="blade-padding px-3">
  <div
    class="whats-different-wrp d-flex flex-lg-row flex-column gap-md-5 gap-2 justify-content-center align-items-center p-md-5 p-3 container"
  >
    <div class="w-lg-50 w-100 px-xxl-3 px-2 d-flex flex-column gap-md-2">
      <h1 class="fw-bold">
        Not just fresh but Fasal Fresh!
        <span class="text-green"> Here’s what’s different.</span>
      </h1>

      <h4 class="fw-normal">
        Fasal Fresh is on a mission to bring farm-fresh, nutritionally rich, and
        tasty fruits to your neighbourhood.
      </h4>

      <h4 class="fw-normal">
        We source fruits from farms supported by Fasal’s data-backed precision
        farming technology where every fruit, as we say, is grown with precision
        –
        <br />
        <span class="text-green fw-bold">
          on quality, value, and sustainability.
        </span>
      </h4>
    </div>
    <div class="w-lg-50 w-100">
      <img
        class="w-100 px-lg-5"
        src="assets/images/fasal-fresh/whats-different.png"
        alt=""
      />
    </div>
  </div>
</section>

<style>
  .whats-different-wrp {
    border-radius: 0.75rem;
    border: 1px solid rgba(24, 24, 24, 0.07);
    background: #fbfaf9;
  }
</style>
